#invitedEmailButton:hover {
    padding: 8px 20px;
}

#invited-eamil-area ul {
    color: white;
    list-style: none;
    padding: 0;
}
#invited-eamil-area ul li {
    padding: 0;
}
.invitedEmail-item-info {
    background-color: #2b7a78;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 15px;
    min-width: 300px;
    text-align: left;
}

.invitedEmail-item-info .invitedEmail-item-info-img img {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.invitedEmail-item-trash {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.invitedEmail-item-trash div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: red;
}
.invitedEmail-item-trash i {
    pointer-events: none;
}
