:root {
  --primary: #3aafa9;
  --secondary: #2b7a78;
  --raw: #0b0c10;
  --active: #17252a;
  --text: #feffff;
  --text2: #def2f1;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

section h2 {
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
  color: var(--secondary);
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}
.button {
  font-weight: 400;
  padding: 8px 20px;
  background-color: var(--primary);
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 1.5em;
  transition: 0.5s;
}
.button:hover {
  border: 2px solid #171717;
  background-color: #ffffff;
  color: #171717;
  padding: 8px 30px;
  font-weight: 700;
}

.form-control,
.form-select {
  border: 1px solid #3aafa9;
}

.form-control:focus,
.form-select:focus {
  border-color: #3aafa9;
  box-shadow: 0 0 0 0.25rem rgba(58, 175, 169, 0.25);
}

/****Menu Area*****/
.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  align-items: center;
}
.left-area {
  display: flex;
  align-items: center;
}
.right-area {
  display: flex;
  align-items: center;
}
.menu-area .title {
  padding-left: 30px;
  color: var(--secondary);
  font-size: 35px;
  font-weight: 700;
}
.time {
  text-align: right;
}
.time p {
  margin: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: var(--secondary);
  transition-delay: 0.3s;
  transition: all 0.5s ease;
  z-index: 10;
}
.sidebar header h2 {
  font-size: 30px;
  color: var(--text2);
  text-align: center;
  background-color: var(--secondary);
  line-height: 80px;
  user-select: none;
}
.sidebar ul {
  padding: 0;
}
.sidebar ul li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: var(--text2);
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 2px solid #0b0c101f;
  transition: 0.4s;
  text-transform: capitalize;
}
.sidebar ul li a:hover {
  padding-left: 50px;
  color: var(--text);
  font-weight: 700;
}
.sidebar ul li a i {
  margin-right: 20px;
  pointer-events: none;
}

label #sb-bars,
label #sb-cancel {
  position: absolute;
  cursor: pointer;
}

.open-menu i {
  font-size: 30px;
  color: var(--secondary);
  padding: 4px 8px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  cursor: pointer;
}

#sb-cancel {
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  left: 255px;
  top: 0;
  font-size: 30px;
  color: var(--text);
  padding: 4px 8px;
  border: 2px solid var(--raw);
  border-radius: 5px;
}

#time {
  font-size: 20px;
  color: var(--secondary);
}
.profile-icon {
  margin-left: 20px;
  position: relative;
}
.profile-icon .button:hover {
  padding: 8px 20px;
  font-weight: 400;
}
.profile-icon img {
  padding: 4px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.profile-icon .profile-nav-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--secondary);
  width: 250px;
  padding: 50px 0;
  border-radius: 10px;
  color: white;
}
.profile-icon .profile-nav-options ul li {
  margin: 10px 0;
  text-transform: uppercase;
}

.profile-icon .profile-nav-options ul li button {
  font-size: 1em;
  color: #fff;
}
.profile-icon .profile-nav-options ul li button:hover {
  color: #0b0c10;
  font-weight: 700;
}

.profile-icon .profile-nav-options ul li img {
  transform: scale(1.5);
}

.user-img-nav {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

/* media query for show and hide time  */
@media screen and (max-width: 600px) {
  .time {
    display: none;
  }
}
/*Home */
.home-area h2 {
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 3.25rem;
  padding-bottom: 0.5em;
  color: var(--secondary);
}
.home-area .btn-area {
  margin-top: 80px;
}
.home-area p {
  font-size: 1.3em;
  color: #34495e;
}
